body {
	margin: 0px;
	font-family: Arial;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

.topo {
	background-color: #020085;
	height: 70px;
}

.topo p {
	float: right;
	margin-top: 25px;
	margin-right: 25px;
	color: white;
	font-size: 25px;
	font-weight: bold;
}

#img1 {
	margin-left: 53px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Menu abaixo */
#primary_nav_wrap {
	margin-top:50px;
	float: right;
	margin-right: 100px;
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a {
	display:block;
	color: #B4B4B4;
	text-decoration:none;
	font-weight:700;
	font-size:30px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item {
	background:transparent;
}

#primary_nav_wrap ul li:hover {
	background:#020085;	
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#020085;	
	padding:0
}

#primary_nav_wrap ul ul li {
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul a {
	color: white;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul {
	display:block;
} 

#sld1 {
	margin-top: 10%;
	z-index: -1;
}

#sobre {
	margin-left: 3%;
}

#sobre h1 {
	color: #888888;
}

#sobre h4 {
	color: #888888;
}

#sobre ul {
	color: #888888;
}

#sobre ul li {
	color: #888888;
	font-size: 13px;
}

#sobre p {
	color: #888888;
}

#img2 {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#boxes-destaque h1 {
	color: #888888;
	margin-left: 12%;
	padding-top: 3%;
}

#boxes-destaque ul {
	list-style: none;	
	text-align: center;
}

#boxes-destaque ul li {
	display: inline-block;
}

#boxes-destaque ul li a {
	color: #888888;
	text-decoration: none;
	font-size: 37px;
}

#boxes-destaque ul li a:hover {
	color:  #020085;
	text-decoration: underline;
}

.rodape {
	background-color: #454545;
	margin: 0px;
	padding: 0px;
	height: 177px;
}

.rodape ul {
	list-style: none;
	text-align: center;
}

.rodape ul li {
	display: inline-block;
	margin-top: 2%;
}

.rodape ul li a {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.rodape ul li a:hover {
	text-decoration: underline;
}

.rodape p {
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: 30px;
}


}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
.topo {
	background-color: #020085;
	height: 30px;
}

.topo p {
	float: right;
	margin: 0px;
	padding:5px;
	color: white;
}

#img1 {
	margin-left: 53px;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Menu abaixo */
#primary_nav_wrap {
	margin-top:50px;
	float: right;
	margin-right: 100px;
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a {
	display:block;
	color: #B4B4B4;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item {
	background:transparent;
}

#primary_nav_wrap ul li:hover {
	background:#020085;	
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#020085;	
	padding:0
}

#primary_nav_wrap ul ul li {
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul a:hover {
	color: white;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul {
	display:block;
} 

#sld1 {
	z-index: -1;
}

#sobre {
	margin-left: 12%;
}

#sobre h1 {
	color: #888888;
}

#sobre h4 {
	color: #888888;
}

#sobre ul {
	color: #888888;
}

#sobre p {
	color: #888888;
}

#img2 {
	float: right; 
	margin-top: -15%;
	margin-right: 10%;
}

#boxes-destaque h1 {
	color: #888888;
	margin-left: 12%;
	padding-top: 3%;
}

#boxes-destaque ul {
	list-style: none;	
	text-align: center;
}

#boxes-destaque ul li {
	display: inline-block;
}

#boxes-destaque ul li a {
	color: #888888;
	text-decoration: none;
}

#boxes-destaque ul li a:hover {
	color:  #020085;
	text-decoration: underline;
}

.rodape {
	background-color: #454545;
	margin: 0px;
	padding: 0px;
	height: 177px;
}

.rodape ul {
	list-style: none;
	text-align: center;
}

.rodape ul li {
	display: inline-block;
	margin-top: 2%;
}

.rodape ul li a {
	color: white;
	text-decoration: none;
}

.rodape ul li a:hover {
	text-decoration: underline;
}

.rodape p {
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 5%;

}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}